@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css"; /* Screens */
@import "screens/login.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 40px;
}

.screen-header__title {
  font-size: 24px;
  font-weight: 600;
}

.screen-header__icons > span {
  padding: 10px;
}
