#friends-display-link {
  display: block;
  padding: 13px 0px;
  background-color: #fafafa;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #3f3f3f;
  margin-bottom: 5px;
}

#friends-display-link i {
  color: #d5d5d5;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: #fadc03;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 100px;

  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 1s;
}
