#friends-display-link {
  display: block;
  padding: 13px 0px;
  background-color: #fafafa;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #3f3f3f;
  margin-bottom: 5px;
}

#friends-display-link i {
  color: #d5d5d5;
}
