.alt-screen-header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px var(--screen-horizontal-space);
  padding-top: 39px;
}

.alt-screen-header__title {
  font-size: 21px;
  font-weight: 600;
}

.alt-screen-header__column i {
  display: block;
  padding: 0 5px;
}
