.section-header {
  position: relative;
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);

  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0px;
  padding-top: 10px;
}

.section-header--black-font > span {
  color: rgba(0, 0, 0, 0.846);
}

.section-header-sub {
  position: absolute;
  right: 8px;

  font-size: 15px;
  color: rgba(0, 0, 0, 0.247);
}
